node_modules
.DS_Store
dist
dist-ssr
coverage

.env
.env.*
!.env.example

.nitro
.tanstack
.wrangler
.output
.vinxi
.convex
__unconfig*

convex/.env.local
convex/.env

routeTree.gen.ts
src/routeTree.gen.ts

todos.json
